footer {
	background: lighten($blackpearl, 85%);
	padding: 0 7%;
	img {
		display: none;
	}
}

// #menu-footer-menu li {
// 	// margin: 0 auto;
// 	clear: both;

// }
.form-container {
	width: 50%;
	@media (max-width: 823px) {
		align-self: flex-start;
	}
	@media (max-width: 700px) {
		width: 80%;
	}
	@media (max-width: 320px) {
		width: 100%;
	}
}
form {
	width: 100%;
	// max-width: 393px;
	input, textarea {
		background: $white;
		border: none;
		padding: 10px;
		border: 1px solid $capecod;
		border-left: 2px solid $curiousblue;
		-webkit-appearance: none;
		color: $capecod;
		&:focus {
			outline: none;
			border-bottom: 1px solid $curiousblue;
		}
	}
}

// footer .footer-container {
// 	margin: 0;
// }
.your-name::before, .your-email::before, .your-subject::before, .your-message::before {
	font-family: 'Open Sans';
	font-weight: 900;
	padding-right: 10px;
}

.your-name::before {
	content: "N";
}

.your-email::before {
	content: "E";
}

.your-subject::before {
	content: "S";
}

.your-message::before {
	content: "M";
}

input[type='submit'] {
	background: $curiousblue;
	border: none;
	padding: 10px 20px;
	font-family: 'Lato';
	font-weight: 700;
	letter-spacing: 1.5px;
	color: $white;
}

.footer-text {
	float: left;
	width: 50%;
	padding: 0 5% 0 0;
	@media (max-width: 823px) {
		width: 100%;
	}
}

.contact-info {
	font-family: 'Open Sans';
	font-weight: 400;
}

form input, form textarea {
	width: 100%;
}

.most-footer {
	clear: both;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 5%;
}