

.portfolio-item {
	display: flex;
	align-items: center;
	padding: 20px;
	@media (max-width: 907px) {
		flex-direction: column;
	}
}
.portfolio-item:nth-child(even) {
	flex-direction: row-reverse;
	@media (max-width: 907px) {
		flex-direction: column;
	}
}
.portfolio-text {
	width: 50%;
	@media (max-width: 907px) {
		width: 100%;
		order: 2;
	}
}

.portfolio-image {
	width: 50%;
	img {
		max-height: 400px;
		max-width: 100%;
	}
	@media (max-width: 907px) {
		width: 100%;
		max-width: 400px;
		order: 1;
	}
}

.grid-cell {
	padding: 5% 5% 0 5%;
}

a.link-button {
	font-size: 2rem;

}

.grid-row {
	display: flex;
	@media (max-width: 823px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.grid-cell-image {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 823px) {
		width: 100%;
	}

}
.grid-cell-image ul {
	display: flex;
	flex-flow: row wrap;
	padding-top: 50px;
	@media (max-width: 823px) {
		padding: 0 0 40px 0;
	}
	li {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 20%;
		@media (max-width: 1147px) {
			width: 25%;
		}
		@media (max-width: 913px) {
			p {
				font-size: 1.2rem;
			}
		}
		@media (max-width: 823px) {
			width: 20%;
		}
	}
	i {
		font-size: 7rem;
		padding-bottom: 20px;
		text-align: center;
		@media (max-width: 984px) {
			font-size: 5rem;
		}
	}
}

.skills-section-title {
	@media (max-width: 743px) {
		order: 1;
	}
}

.grid-cell.grid-cell-text {
	width: 50%;
	padding-left: 7%;
	@media (max-width: 823px) {
		width: 100%;
	}
}

button {
	appearance: none;
	padding: 10px 20px;
	border: 2px solid $curiousblue;
	font-family: 'Open Sans';
	background: none;
	font-size: 2rem;
	font-weight: 400;
	transition: all 0.5s ease;
	a {
		color: $curiousblue;
	}
	&:hover {
		background:$curiousblue;
		a {
			color: white;
		}
	}
}

.skill-list {
	display: flex;
	flex-flow: row wrap;
}
.skill-list li {
	padding: 0;
	margin-right: 5px;
	color: $capecod;
}

.first-blurb {
	@media (max-width: 984px) {
		width: 60%;
	}
}

@media (max-width: 823px) {
	.skill-cell {
		order: 2;
	}
	.main-skills-list {
		padding: 0;
		margin: 0;
	}
	.text-cell {
		margin: 0;
	}
}