.portfolio-item {
	display: flex;
	align-items: center;

	padding: 20px;
}
.portfolio-item:nth-child(even) {
	flex-direction: row-reverse;
}
.portfolio-text {
	width: 50%;
}

.portfolio-image {
	width: 50%;
	img {
		max-height: 500px;
	}
}

.grid-cell {
	padding: 5%;
}

a.link-button {
	font-size: 2rem;

}

.grid-row {
	display: flex;
}
.grid-cell-image {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.grid-cell-image ul {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	li {
		text-align: center;
		display: flex;
		flex-direction: column;
		// font-size: 1.rem;
		padding: 5%;
		width: 20%;
	}
	i {
		font-size: 7rem;
		padding-bottom: 20px;
		text-align: center;
	}
}

.grid-cell-text {
	width: 50%;
}

button {
	appearance: none;
	padding: 10px 20px;
	border: 2px solid $curiousblue;
	font-family: 'Open Sans';
	background: none;
	font-size: 2rem;
	font-weight: 400;
	transition: all 0.5s ease;
	a {
		color: $curiousblue;
	}
	&:hover {
		background:$curiousblue;
		a {
			color: white;
		}
	}
}

.skill-list {
	display: flex;
	flex-flow: row wrap;
}
.skill-list li {
	padding: 0;
	margin-right: 5px;
	color: $capecod;
}