header {
	height: 100vh;
	background-image: url('images/crystals.jpg');
	// background-size: cover;
	background-position: 42% 61%;
	background-attachment: fixed;
	margin: 0;
	position: relative;
	z-index: 1;
	h1 {
		padding-top: 50vh;
	}
}
