header {
	height: 100vh;
	background-image: url('images/crystals.jpg');
	// background-size: cover;
	background-position: 42% 61%;
	background-attachment: fixed;
	margin: 0;
	position: relative;
	z-index: 1;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
	h1 {
		padding-top: 50vh;
	}
}
