// Fonts
@font-face {
	font-family: 'Unica';
	src: url('fonts/NeueHaasUnicaThin/NeueHaasUnicaW1G-Thin.ttf');
}

$cactus: #567753;
$darkgrey: #292f33;
$mediumgrey: #444444;
$apple: #a1dd95;
$coral: #eb6f57;
$white: #81171B;
// $wine: #A3333D;
$wine: #832F4D;
$lightgrey: #f3f3f3;