// Fonts
@font-face {
	font-family: 'Unica';
	src: url('fonts/NeueHaasUnicaThin/NeueHaasUnicaW1G-Thin.ttf');
}

$darkgrey: #292f33;
$mediumgrey: #444444;
$white: #f3f3f3;


$curiousblue: #3d8cc5;
$blackpearl: #1d2132;

$tiara: #babebb;
$chicago: #5d5f5e;

$capecod: #525453;
