// Fonts
@font-face {
	font-family: 'Unica';
	src: url('fonts/NeueHaasUnicaThin/NeueHaasUnicaW1G-Thin.ttf');
}

$cactus: #567753;
$darkgrey: #292f33;
$mediumgrey: #444444;
$apple: #a1dd95;
$coral: #eb6f57;
$white: #fdfdfd;